.page-centered {
    width: 40%;
    height: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    font-family: sans-serif;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.login-h1 {
    /* font-weight: 100; */
    font-size: 1.8em;
    /* font-weight: 100; */
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 30px;
    margin-top: 3em;
    font-weight: 500 ;
    text-shadow: 3px 4px 5px #5bc0de;
    color: #f8f9fa;
}


::ng-deep body{
    background-image: url("../../../assets/Pokemon-Background.webp");
    background-size: cover;
}

.input-group-prepend.w-50.mx-auto {
    width: 60% !important;
    
}
#loginForm input {
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}
button#loginButton {
    padding: 10px 50px;
}