<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
 <hibernate-configuration>
 	<session-factory>
 	
 		<!-- JDBC -->
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">password</property>
		<property name="hibernate.connection.url">jdbc:postgresql://34.150.134.42:5432/postgres?currentSchema=project2</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		
		<!-- Hibernate Properties -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.default_schema">project2</property>
		
		<!-- Hibernate console output -->
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">true</property>
		
		<!-- DDL -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- Anyone remember what setting our hbm2ddl.auto to create will do? -->
		
		<!-- We need to map our Classes in order for them to be recognized by Hibernate -->
		<mapping class="com.revature.models.Trainer"/>
		<mapping class="com.revature.models.Inventory"/>
		<mapping class="com.revature.models.Pokemon"/>
 	
 	</session-factory>
 </hibernate-configuration>