<div class="card-centered">
    <div class="card border-dark mb-3" style="border: solid; border-width: 1px;">
    <img class="card-img-top" src="../../../assets/profOak.png" alt="Card image cap">
    <div class="card-body" style="border: solid; border-width: 1px;">
      <h5 class="card-title">Welcome to Pallet Town!</h5>
      <p class="card-text overflow-auto" style="height: 80px;">{{narratorText}}</p>
      <p class="card-text overflow-auto" style="height: 30px;">{{actionText}}</p>
    </div>
    <div class="card-body" style="border: solid; border-width: 1px;">
      <div class="btn-group-vertical" style="width: 200px;">
        <button class="btn btn-outline-dark" (click)="getItemHandler()">Ask for Potions</button> 
        <button class="btn btn-outline-dark" (click)="searchCityHandler()">Search City</button> 
        <button class="btn btn-outline-dark" (click)="startBattleHandler()">Train</button> 
      </div>
    </div>
  </div>
</div>  
