<div class="card-centered">
    <div class="card border-dark mb-3" style="border: solid; border-width: 1px;">
    <img class="card-img-top" src="../../../assets/city.jpg" alt="Card image cap">
    <div class="card-body" style="border: solid; border-width: 1px;">
      <h5 class="card-title">Welcome to your Pokemon adventure!</h5>
      <p class="card-text overflow-auto" style="height: 80px;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
    <div class="card-body" style="border: solid; border-width: 1px;">
        <div class="btn-group-vertical" style="width: 200px;">
            <button type="button" class="btn btn-outline-dark">Select action</button>
            <button type="button" class="btn btn-outline-dark">select action</button>
            <button type="button" class="btn btn-outline-dark">select action</button>
        </div>
    </div>
    <div class="card-body" style="border: solid; border-width: 1px;">
      <a href="/forest" class="card-link">Travel to Haunted Forest</a>
      <a href="/cave" class="card-link">Travel to Caves of Despair</a>
    </div>
  </div>
</div>  
