<div id="tableCard" class="card">
    <div class="card border-dark mb-3">
        <div class="card-header">Select Your Pokemon!</div>
    
            <table class="table" *ngIf="playerPokemon">
                <thead>
                    <th scope="col">Pokedex</th>
                    <th scope="col">Name</th>
                    <th scope="col">Level</th>
                </thead>
                <tbody>
                    <tr *ngFor="let d of playerPokemon">
                        <!-- String interpolating the values of the pokemon object   -->
                        <td>{{d.pokedexNumber}}</td>
                        <td>{{d.pokeName}}</td>
                        <td>{{d.level}}</td>

                    </tr>
                </tbody>
            </table> <!--end table-->
   
        <div class="card-body">
            <div class="row">
                <input class="col-lg-3" type="number" [(ngModel)]="pokemonSelected" />
            
                <button class="btn btn-outline-dark" (click)="getPlayerPokemon()">Battle!</button> <!--use getApi for testing-->
       
              </div>

        </div>
    </div>    
</div><!--end tableCard-->

<div class="card-centered">
    <div class="card border-dark mb-3">
        <div class="battleImgStack">
            <img id="baseImg" class="card-img-top" src="../../../assets/battleBackground.jpg" alt="Card image cap">
            <div class="imgOverlay">
                <img id="pokemonLCorner" src="../../../assets/pikaBack.png" alt=""> <!--{{playerPokemon}}-->
                <img id="pokemonRCorner" src="../../../assets/squirtleFront.png" alt=""> <!--{{enemyPokemon}}-->
            </div> <!--child div end-->
        </div> <!--parent div end-->
        <div class="card-body">
            <h5 class="card-title overflow-auto">Card title</h5>
            <p class="card-text overflow-auto" style="height: 65px;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
        <div class="card-body">
            <div class="btn-group-vertical">
                <button class="btn btn-outline-dark" (click) = "battleWrapperFunc()">Attack</button>
                <button class="btn btn-outline-dark">Special Attack</button>
                <!--dropdown button-->
                <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Use Item</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Potion1</button>
                        <button ngbDropdownItem>Potion2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>