<!-- Player pokemon selections and card -->
<div id="tableCard">
    <div class="card border-dark mb-4">

        <!-- This button appears when page loads -->
        <button  *ngIf="!pokemonSelected && !playerPokemon" id="viewPokemon" class="btn btn-secondary btn-lg" (click)="getPlayerPokemon()">
            View My Pokemon
        </button> <!--use getApi for testing-->

        <!-- Pokemon name in card header -->
        <div *ngIf="pokemonSelected" class="card-header" id="cardheader">
            <strong>{{pokemonSelected.pokeName}}</strong>
        </div>

        <!-- table of player's pokemon -->
        <table id="poketable" class="table table-light" *ngIf="playerPokemon && !pokemonSelected">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">HP</th>
                <th scope="col">Level</th>
            </thead>
            <tbody>
                <tr *ngFor="let d of playerPokemon" (click)="prepareBattle(d); getEnemyPokemon(); getApiPokemon(); getPlayerPokemon();">
                    <!-- String interpolating the values of the pokemon object   -->
                    <td>{{d.pokeName}}</td>
                    <td>{{d.hitPoints}}</td>
                    <td>{{d.level}}</td>
                </tr>
            </tbody>
        </table> <!--end table-->
        
        <!-- Body of the pokemon card -->
        <div class="card-body" id="pokeinfo" *ngIf="pokemonSelected">
              <div *ngIf="apiPokemon">
                <img src={{apiPokemon.sprites.front_default}}>
            </div>
            <div *ngIf="pokemonSelected && apiPokemon">
                <p> HP: {{pokemonSelected.hitPoints}}</p>
                <p> Level: {{pokemonSelected.level}}</p>
                <div *ngIf="apiPokemon.moves[0]">
                    <p> {{apiPokemon.moves[0].move.name}}: {{pokemonSelected.attack}} </p>
                    <p> {{apiPokemon.moves[1].move.name}}: {{pokemonSelected.specialAttack}} </p>
                </div>

                <!-- Buttons for after picking pokemon but before battle start -->
                <button *ngIf="!gameStart" class = "btn btn-outline-dark" (click)="switchPokemon()">Switch pokemon</button>
                <button *ngIf="!gameStart" class = "btn btn-outline-dark" (click)="battle()">Start Battle!</button>

                <!-- attack and inventory options -->
                <div *ngIf="gameStart && !gameOver" class="btn-group-vertical" id="leftElement">
                    <button *ngIf="pokemonSelected" class="btn btn-outline-dark" (click) = "attackFunc(1)">{{apiPokemon.moves[0].move.name}}</button>
                    <button *ngIf="pokemonSelected" class="btn btn-outline-dark" (click) = "attackFunc(2)">{{apiPokemon.moves[1].move.name}}</button>
                    <!--dropdown button-->
                    <div *ngIf="apiPokemon" ngbDropdown class="d-inline-block" (click) = "getInventory()">
                            <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Inventory</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click) = "potionFunc(1)">Potion (qty: {{potions}})</button>
                            <button ngbDropdownItem (click) = "potionFunc(2)">Super Potion (qty: {{superPotions}})</button>
                            <button ngbDropdownItem (click) = "catchPokemon()">Pokeball (qty: {{pokeballs}})</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div><!--end tableCard-->


<!-- Battle ground and narration -->
<div class="card-centered">
    <div class="card border-dark mb-3 narration">
        <!-- battle ground div -->
        <div class="battleImgStack">
            <img id="baseImg" class="card-img-top" src="../../../assets/battleBackground.jpg" alt="Card image cap">
            <div id="pokemon" class="imgOverlay" *ngIf="apiPokemon && !gameOver && !catchPokemon">
                <img id="pokemonLCorner" class="img-fluid" src="{{apiPokemon.sprites.back_default}}" alt=""> <!--{{playerPokemon}}-->
            </div> <!--child div end-->
            <div id="enemy" class="imgOverlay" *ngIf="enemyPokemon && !gameOver &&!catchingPokemon">
                <img id="pokemonRCorner" class="img-fluid" src="{{enemyPokemon.sprites.front_default}}" alt=""> <!--{{enemyPokemon}}-->
            </div> <!--child div end-->
            <img *ngIf="catchingPokemon" id="escapedPokemon"  src="../../../assets/Poke_Ball.png">
            <img *ngIf="caught" id="catchPokemon" src="../../../assets/Poke_Ball.png">

        </div> <!--parent div end-->
        <div class="card-body">
            <h4 class="card-text overflow-auto battle-header">Battle!</h4>
            <div class="card-text overflow-auto" style="height: 180px;">

                <!-- this text only displays before either player makes a move-->
                <div *ngIf="!narration[0] && !catchingPokemon && !battleStart">
                <p *ngIf="enemyPokemon" class="typewriter">You encountered a wild {{enemyPokemon.name}}!</p>
                <p *ngIf="apiPokemon" class="typewriter">You chose {{apiPokemon.name}}!</p>
                <!-- <div *ngIf="gameStart && myTurn">Your turn...</div> -->
                </div>

                <!-- this text displays once the battle starts -->
                <div *ngIf="gameStart && !gameOver" class="typewriter">
                    <p>{{narration[0]}}</p>
                    <p *ngIf="narration[1]">{{narration[1]}}</p>
                </div>

                <div *ngIf="gameStart && !gameOver && myTurn && !catchingPokemon" class="typewriter">
                    <p>Your turn...</p>
                </div>

                <!-- display this text when the game is over -->
                <div *ngIf="gameStart && gameOver" class="typewriter">
                    <p>{{narration[0]}}</p>
                    <p>{{narration[1]}}</p>
                    <strong>{{narration[2]}}</strong>
                    <strong>{{narration[3]}}</strong>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- opponent pokemon card -->
<div id="tableCard2" *ngIf="playerPokemon">
    <div class="card border-dark mb-4">
        <!-- Enemy pokemon name in card header -->
        <div class="card-header"><strong>{{enemyPokemon.name}}</strong></div> 
        <!-- Opponent pokemon card body -->
        <div class="card-body" id="pokeinfo">
            <div *ngIf="!pokemonSelected && !playerPokemon" class="row">
              </div>
              <div *ngIf="enemyPokemon">
                <img src={{enemyPokemon.sprites.front_default}}>
            </div>
            <div *ngIf="enemyPokemon">
                <p> HP: {{enemyHP}}</p>
                <p> Level: {{enemyLevel}}</p>
                <div *ngIf="enemyPokemon.moves[0]">
                    <p> {{enemyPokemon.moves[0].move.name}}: {{enemyAttack}} </p>
                    <p> {{enemyPokemon.moves[1].move.name}}: {{enemySpecialAttack}} </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end tableCard2 -->