<!-- Player pokemon selections and card -->
<div id="tableCard">
    <div class="card border-dark mb-4">
        <!-- <div class="card-header" id="cardheader">Select Your Pokemon!</div> -->
        <div *ngIf="pokemonSelected" class="card-header" id="cardheader">
            {{pokemonSelected.pokeName}}
        </div>


        <table id="poketable" class="table table-light" *ngIf="playerPokemon && !pokemonSelected">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">HP</th>
                <th scope="col">Level</th>
            </thead>
            <tbody>
                <tr *ngFor="let d of playerPokemon" (click)="prepareBattle(d); getApiPokemon(); getPlayerPokemon();">
                    <!-- String interpolating the values of the pokemon object   -->
                    <td>{{d.pokeName}}</td>
                    <td>{{d.hitPoints}}</td>
                    <td>{{d.level}}</td>
                </tr>
            </tbody>
        </table> <!--end table-->

        <button  *ngIf="!pokemonSelected && !playerPokemon" class="btn btn-secondary btn-lg" (click)="getPlayerPokemon()">
            View My Pokemon
        </button> <!--use getApi for testing-->


        
        <div class="card-body" id="pokeinfo" *ngIf="pokemonSelected">
              <div *ngIf="apiPokemon">
                <img src={{apiPokemon.sprites.front_default}}>
            </div>
            <div *ngIf="pokemonSelected && apiPokemon">
                <p> HP: {{pokemonSelected.hitPoints}}</p>
                <p> Level: {{pokemonSelected.level}}</p>
                <div *ngIf="apiPokemon.moves[0]">
                    <p> {{apiPokemon.moves[0].move.name}}: {{pokemonSelected.attack}} </p>
                    <p> {{apiPokemon.moves[1].move.name}}: {{pokemonSelected.specialAttack}} </p>
                </div>
                <!-- <ng-template #alt>
                    <p> Attack: {{pokemonSelected.attack}} </p>
                    <p> Special Attack: {{pokemonSelected.specialAttack}} </p>
                </ng-template> -->
                <button *ngIf="!gameStart" class = "btn btn-outline-dark" (click)="switchPokemon()">Switch pokemon</button>
                <button *ngIf="!gameStart" class = "btn btn-outline-dark" (click)="battle()">Start Battle!</button>

                <!-- attack and inventory options -->
                <div *ngIf="gameStart && !gameOver" class="btn-group-vertical" id="leftElement">
                    <button *ngIf="pokemonSelected" class="btn btn-outline-dark" (click) = "attackFunc(1)">{{apiPokemon.moves[0].move.name}}</button>
                    <button *ngIf="pokemonSelected" class="btn btn-outline-dark" (click) = "attackFunc(2)">{{apiPokemon.moves[1].move.name}}</button>
                    <!--dropdown button-->
                    <div *ngIf="apiPokemon" ngbDropdown class="d-inline-block" (click) = "getInventory()">
                            <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Inventory</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click) = "potionFunc(1)">Potion (qty: {{potions}})</button>
                            <button ngbDropdownItem (click) = "potionFunc(2)">Super Potion (qty: {{superPotions}})</button>
                            <button ngbDropdownItem (click) = "catchPokemon()">Pokeball (qty: {{pokeballs}})</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div><!--end tableCard-->


<!-- Battle ground and narration -->
<div class="card-centered">
    <div class="card border-dark mb-3">
        <div class="battleImgStack">
            <img id="baseImg" class="card-img-top" src="../../../assets/battleBackground.jpg" alt="Card image cap">
            <div id="pokemon" class="imgOverlay" *ngIf="apiPokemon && !gameOver && !catchPokemon">
                <img id="pokemonLCorner" class="img-fluid" src="{{apiPokemon.sprites.back_default}}" alt=""> <!--{{playerPokemon}}-->
            </div> <!--child div end-->
            <div id="enemy" class="imgOverlay" *ngIf="enemyPokemon && !gameOver &&!catchingPokemon">
                <img id="pokemonRCorner" class="img-fluid" src="{{enemyPokemon.sprites.front_default}}" alt=""> <!--{{enemyPokemon}}-->
            </div> <!--child div end-->
            <img *ngIf="catchingPokemon && !caught" id="escapedPokemon" class="imgOverlay" src="../../../assets/Poke_Ball.png">
            <img *ngIf="catchingPokemon && caught" id="catchPokemon" class="imgOverlay" src="../../../assets/Poke_Ball.png">

        </div> <!--parent div end-->
        <div class="card-body">
            <h4 class="card-text overflow-auto">Battle!</h4>
            <div class="card-text overflow-auto" style="height: 180px;">

                <!-- this text only displays before either player makes a move-->
                <div *ngIf="!firstMove">
                <p *ngIf="enemyPokemon">You encountered a wild {{enemyPokemon.name}}!</p>
                <p *ngIf="apiPokemon">You chose {{apiPokemon.name}}!</p>

                <p *ngIf="!myTurn && pokemonSelected">Opponent's move...</p>
                </div>

                <!-- this text displays once the battle starts -->
                <p *ngIf="firstMove">{{firstMove}}</p>
                <p *ngIf="secondMove">{{secondMove}}</p>

                <div *ngIf="myTurn && gameStart && !gameOver">
                    Your move...
                </div>

                <!-- display this text when the game is over -->
                <div *ngIf="gameStart && gameOver">
                    <strong>{{gameOverNar}}</strong>
                </div>
          
                 <p >{{cookieValue}}</p>


            </div>
        </div>
    </div>
</div>


<!-- opponent pokemon card -->
<div id="tableCard2" *ngIf="gameStart">
    <div class="card border-dark mb-4">
        <div class="card-header">{{enemyPokemon.name}}</div>
        
        <div class="card-body" id="pokeinfo">
            <div *ngIf="!pokemonSelected && !playerPokemon" class="row">
              </div>
              <div *ngIf="enemyPokemon">
                <img src={{enemyPokemon.sprites.front_default}}>
            </div>
            <div *ngIf="enemyPokemon">
                <p> HP: {{enemyHP}}</p>
                <p> Level: {{enemyLevel}}</p>
                <div *ngIf="enemyPokemon.moves[0]">
                    <p> {{enemyPokemon.moves[0].move.name}}: {{enemyAttack}} </p>
                    <p> {{enemyPokemon.moves[1].move.name}}: {{enemySpecialAttack}} </p>
                </div>
                <!-- <ng-template #alt2> -->
                    <!-- <p> Attack: {{enemyAttack}} </p>
                    <p> Special Attack: {{enemySpecialAttack}} </p>
                </ng-template> -->
            </div>
        </div>
    </div>
</div>
<!-- end tableCard2 -->