#tableCard {
    width: 20%;
    min-width: 300px;
    height: 40%;
    position: absolute;
    top: 15%;
    left: 4%;
    font-family: sans-serif;  
}

#tableCard2 {
    width: 20%;
    min-width: 300px;
    height: 40%;
    position: absolute;
    top: 15%;
    right: 4%;
    font-family: sans-serif;  
}

#battleImgStack div {
    position: relative;
    top: 0;
    left: 0;
} 

#baseImg{
    border-style: outset;
    border-width: 5px;
}

#pokemon {
    position: fixed;
    left: 150px;
    top: 250px;
}

#enemy {
    position: fixed;
    left: 350px;
    top: 175px;
}

#catchPokemon {
    position: fixed;
    left: 265px;
    top: 190px;
    width: 40px;
    height: 40px;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: 4;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

#escapedPokemon {
    position: fixed;
    left: 265px;
    top: 190px;
    width: 40px;
    height: 40px;
    animation: escape 0.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: 3;
}
@keyframes escape {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
    /* 100% { opacity: 0.0; } */
  }

#pokeLCorner {
    position: absolute;
    left: 400px;
    bottom: 100px;
    width: 25%;
    height: auto;
}

#pokeRCorner {
    position: absolute;
    right: 325px;
    bottom: 100px;
    width: 25%;
    height: auto;
}

tr:hover{
    background-color: lightgreen;
    content: "I choose you!";
}

#leftElement {
    display: inline-block;
    float: left;
}

#rightElement {
    display: inline-block;
    float: right;
}
::ng-deep body{
    background-image: url("../../../assets/pokeWar.jpg");
    background-size: cover;
}

.narration {
    transition-delay: 5s;
}