<div class="card-centered">
    <div class="card border-dark mb-3" style="border: solid; border-width: 1px;">
    <img class="card-img-top" src="../../../assets/cave.jpg" alt="Card image cap">
    <div class="card-body" style="border: solid; border-width: 1px;">
      <h5 class="card-title overflow-auto">Cerulean Cave</h5>
      <p class="card-text overflow-auto" style="height: 80px;">{{narratorText}}</p>
      <p class="card-text overflow-auto" style="height: 30px;">{{actionText}}</p>
    </div>
    <div class="card-body" style="border: solid; border-width: 1px;">
        <div class="btn-group-vertical" style="width: 200px;">
          <button class="btn btn-outline-dark" (click)="rockHandler()">Look under strange rock</button> 
          <button class="btn btn-outline-dark" (click)="mineHandler()">Mine for Armorite</button> 
          <button class="btn btn-outline-dark" (click)="startBattleHandler()">Search for Pokemon</button> 
        </div>
    </div>
    <div class="card-body" style="border: solid; border-width: 1px;">
      <a href="/home" class="card-link">Go Back Home</a>
      <a href="/forest" class="card-link">Travel to Haunted Forest</a>
      <a href="/river" class="card-link">Travel to the River</a>
    </div>
  </div>
</div> 