<div class="card-centered">
    <div class="card border-dark mb-3" style="border: solid; border-width: 1px;">
    <img class="card-img-top" src="../../../assets/ForestBackground.png" alt="Card image cap">
    <div class="card-body" style="border: solid; border-width: 1px;">
      <h5 class="card-title overflow-auto">Serenity River</h5>
      <!-- Will update narration text to be static later, will need string interpolation-->
      <p class="card-text overflow-auto" style="height: 80px;">{{narratorText}}</p>
      <p *ngIf="actionText" class="card-text overflow-auto action-text" style="height: 50px;">{{actionText}}</p>
    </div>
    <div class="card-body" style="border: solid; border-width: 1px;">
        <div class="btn-group-vertical" style="width: 200px;">
            <button class="btn btn-outline-dark" (click)="fishHandler()">Fish by River</button> 
            <button class="btn btn-outline-dark" (click)="swimHandler()">Go Swimming</button> 
            <button class="btn btn-outline-dark" (click)="startBattleHandler()">Search for Pokemon</button> 
        </div>
    </div>
  </div>
</div>  
