
<div class="card-centered"> <!--card ctr-->
    <div class="card border-dark mb-3" style="border: solid; border-width: 1px;"> 
    <img class="card-img-top" src="../../../assets/forest.jpg" alt="Card image cap">
    <div class="card-body" style="border: solid; border-width: 1px;">
      <h5 class="card-title overflow-auto">You have entered the Viridian Forest beware!</h5>
      <!-- Will update narration text to be static later, will need string interpolation-->
      <p class="card-text overflow-auto" style="height: 80px;">{{narratorText}}</p>
      <p class="card-text overflow-auto" style="height: 30px;">{{actionText}}</p>
    </div>
    <div class="card-body" style="border: solid; border-width: 1px;">
        <div class="btn-group-vertical" style="width: 200px;">
            <button class="btn btn-outline-dark" (click)="pickBerriesHandler()">Pick Berries</button> 
            <button class="btn btn-outline-dark" (click)="collectFirewoodHandler()">Collect Firewood</button> 
            <button class="btn btn-outline-dark" (click)="startBattleHandler()">Search for Pokemon</button> 
        </div>
    </div>
  </div>
</div>  
